ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    .theme {
        height: 3em;
        border: solid 1px black;

        &.is-even {
            background-color: aquamarine;
        }
    }
}

